{% extends "base.html" %}
{% load static iam_tags %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <!-- Welcome Card -->
    <div class="col-lg-12 mb-4 order-0">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Olá, {{ user|title }} 👋</h5>
              <p class="mb-4">Seja Bem-vindo ao Sistema de Financiamento CredFácil da <strong>{{loja.nome|title}}</strong></p>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img src="{% static 'sneat-template/assets/img/illustrations/man-with-laptop-light.png' %}"
                   height="140"
                   alt="Welcome User" />
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if user|has_perm:'vendas.view_venda' %}
      <!-- Usuário SEM permissão: exibe cards de Vendas e Clientes -->
      <div class="col-md-6 mb-4">
        <div class="card border-start shadow-sm h-100">
          <div class="card-body d-flex align-items-center">
            <!-- Ícone -->
            <div class="me-3">
              <i class="bx bx-cart-alt fs-1 text-success"></i>
            </div>
            <!-- Conteúdo -->
            <div>
              <h6 class="card-title mb-1">Vendas</h6>
              <p class="mb-2 text-muted">Realize todas as Vendas dos seus Clientes.</p>
              <a href="{% url 'vendas:venda_list' %}" class="btn btn-sm btn-outline-success">
                <i class="bx bx-right-arrow-alt me-1"></i>Ver Vendas
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if user|has_perm:'vendas.view_cliente' %}
      <div class="col-md-6 mb-4">
        <div class="card border-start shadow-sm h-100">
          <div class="card-body d-flex align-items-center">
            <!-- Ícone -->
            <div class="me-3">
              <i class="bx bx-user fs-1 text-success"></i>
            </div>
            <!-- Conteúdo -->
            <div>
              <h6 class="card-title mb-1">Clientes</h6>
              <p class="mb-2 text-muted">Visualize e edite os seus cliente e Solicite sua análise de crédito.</p>
              <a href="{% url 'vendas:cliente_list' %}" class="btn btn-sm btn-outline-success">
                <i class="bx bx-right-arrow-alt me-1"></i>Ver Solicitações
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if user|has_perm:'produto.view_produto' %}
      <div class="col-md-6 mb-4">
        <div class="card border-start shadow-sm h-100">
          <div class="card-body d-flex align-items-center">
            <!-- Ícone -->
            <div class="me-3">
              <i class="bx bx-package fs-1 text-success"></i>
            </div>
            <!-- Conteúdo -->
            <div>
              <h6 class="card-title mb-1">Produtos</h6>
              <p class="mb-2 text-muted">Visualize e os Produtos disponíveis.</p>
              <a href="{% url 'produtos:produtos' %}" class="btn btn-sm btn-outline-success">
                <i class="bx bx-right-arrow-alt me-1"></i>Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
  </div>
</div>
{% endblock %}
