{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Estoque
{% endblock title %}

{% block content %}
<div class="container-xxl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Estoque RENAVAM</h4>
                    <div>
                        <form action="" method="get" class="d-inline-block me-2" id="searchForm">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Pesquisar...">
                                <button type="submit" class="btn btn-outline-secondary">
                                    <i class="bx bx-search"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary"
                                    onclick="document.getElementsByName('search')[0].value=''; document.getElementById('searchForm').submit();">
                                    <i class="bx bx-x"></i>
                                </button>
                            </div>
                        </form>
                        {% if user|has_perm:"estoque.add_entradaestoque" %}
                        <a type="button" class="btn btn-primary" href="{% url 'estoque:estoque_entrada' %}">
                            <i class="bx bx-plus me-1"></i>
                            Adicionar Entrada
                        </a>
                        {% endif %}
                        <a type="button" class="btn btn-primary" target="_blank"
                            href="{% url 'estoque:inventario_imei_pdf' %}">
                            <i class="bx bx-file me-1"></i>
                            Gerar PDF
                        </a>
                        <a type="button" class="btn btn-success" 
                            href="{% url 'estoque:inventario_imei_excel' %}">
                            <i class="bx bx-spreadsheet me-1"></i>
                            Gerar Excel
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle table-compact">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col" class="text-center">RENAVAM</th>
                                    <th scope="col" class="text-end">Vendido</th>
                                    <!-- <th scope="col" class="text-end">App Instalado</th> -->
                                    <th scope="col" class="text-end">Cancelado</th>
                                    <th scope="col" class="text-end">Data da Venda</th>
                                    <th scope="col" class="text-end">ID Venda</th>
                                    <th scope="col" class="text-end">Número Nota</th>
                                    {% if user|has_perm:"estoque.can_view_all_imei" %}
                                    <th scope="col" class="text-end">Loja</th>
                                    {% endif %}
                                    <th scope="col" class="text-end">Criado Por</th>
                                    <th scope="col" class="text-end">Data Criação</th>
                                    <th scope="col" class="text-end">Alterado Por</th>
                                    <th scope="col" class="text-end">Data Última Alteração</th>
                                    <th scope="col" class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.produto|title }}</td>
                                    <td class="text-center">{{ produto.renavam }}</td>
                                    <td class="text-end">
                                        {% if produto.vendido %}
                                        <i class="bx bx-check-circle text-success"></i>
                                        {% else %}
                                        <i class="bx bx-x-circle text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <!-- <td class="text-end">
                                        {% if produto.aplicativo_instalado %}
                                        <i class="bx bx-check-circle text-success"></i>
                                        {% else %}
                                        <i class="bx bx-x-circle text-danger"></i>
                                        {% endif %}
                                    </td> -->
                                    <td class="text-end">
                                        {% if produto.cancelado %}
                                        <i class="bx bx-check-circle text-success"></i>
                                        {% else %}
                                        <i class="bx bx-x-circle text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        {{ produto.data_venda|date:"d/m/Y H:i"|default:"-" }}
                                    </td>
                                    <td class="text-end">
                                        {{ produto.id_venda|default:"-" }}
                                    </td>
                                    <td class="text-end">
                                        {{ produto.numero_nota|default:"-" }}
                                    </td>
                                    {% if user|has_perm:"estoque.can_view_all_imei" %}
                                    <td class="text-end">
                                        {{ produto.produto_entrada.loja.nome|title }}
                                    </td>
                                    {% endif %}
                                    <td class="text-end">
                                        {{ produto.criado_por|default:"-" }}
                                    </td>
                                    <td class="text-end">
                                        {{ produto.criado_em|date:"d/m/Y H:i"|default:"-" }}
                                    </td>
                                    <td class="text-end">
                                        {{ produto.modificado_por|default:"-" }}
                                    </td>
                                    <td class="text-end">
                                        {{ produto.modificado_em|date:"d/m/Y H:i"|default:"-" }}
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                {% if user|has_perm:"estoque.change_estoqueimei" %}
                                                <a class="dropdown-item"
                                                    href="{% url 'estoque:estoque_imei_update' produto.pk %}">
                                                    <i class="bx bx-edit me-1"></i>
                                                    Editar
                                                </a>
                                                {% endif %}
                                                {% if user|has_perm:"estoque.change_estoqueimei" %}
                                                <a class="dropdown-item"
                                                    href="{% url 'estoque:cancelar_renavam' produto.pk %}">
                                                    <i class="bx bx-x-circle me-1"></i>
                                                    Cancelar RENAVAM
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    {% empty %}
                                    <td colspan="13" class="text-center">Nenhum produto encontrado</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "snippets/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}